<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddBookCartServelt</servlet-name>
        <servlet-class>com.pruebatic.pruebatic.servlets.AddBookCartServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemServlet</servlet-name>
        <servlet-class>com.pruebatic.pruebatic.servlets.DeleteItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBookCartServelt</servlet-name>
        <url-pattern>/AddBookCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemServlet</servlet-name>
        <url-pattern>/DeleteItem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
